<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>Hey, I'm <a href="/">Syed</a>!</h2>
  <div id="bio">
    <p>Software engineer interested in large scale distributed backend systems.</p>
    <p><a href="/index.html">about</a>
    /
    <a href="https://github.com/spraza" target="_blank">github</a>
    /
    <a href="/contact.html">contact</a>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
